.container {
    width: 1067px;
    margin: 0 auto;
}

.background {
    background-image: url('../img/background.png');
    background-size: cover;
}

.header {
    padding-top: 50px;
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
}

.header-logo {
    display: block;
    width: 170px;
    color: white;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    text-decoration: none;
}

.header-logo:hover {
    color: #f26522;
    background-image: url('../img/logohover.png');
    transition-duration: 0.5s;
}

.header-logo-text1 {
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    line-height: 1.2;
    margin: 0px 0px 0px 60px;
}

.header-logo-text2 {
    font-size: 16px;
    font-weight: 700;
}

.header-namber {
    color: white;
    text-align: right;
    font-size: 15px;
    font-family: Verdana, sans-serif;
}

.header-namber:first-child {
    margin-bottom: 4px;
}

.header-namber:last-child {
    padding-top: 0px;
}

.main-portfolio {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-img {
    color: white;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    margin-bottom: 55px;
}

.link-img:hover {
    color: #f26522;
    transition-duration: 0.5s;
}

.containerimg {
    padding: 0px;
    max-height: 200px;
    position: relative;
    overflow: hidden;
}

.hover-animation {
    width: 100%;
    background-color: #f26522;
    color: white;
    font-family: Verdana, sans-serif;
    position: absolute;
    bottom: -65px;
}

.link-img:hover .hover-animation{
    animation-name: animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes animation {
     100% {
        position: absolute;
        bottom: 0%;
     }
}    

.hover-animation-text {
    font-size: 10px;
    margin: 13px 0px 17px 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.textfrom {
    margin-bottom: 4px;
}

.textPrice {
    font-size: 20px;
}

.textDetails {
    font-size: 14px;
    margin: 8px 15px 0 0;
}

.img-description {
    margin-top: 15px;
}

.portfolio-img {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fefefe, #020202) 0.5;
}

.copyright {
    color: white;
    font-size: 12px;
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}